<h5 class="centerr">
  <strong>
    Contact Us
  </strong>
</h5>
  <p class="white-text padding">
    Questions or comments can be left in the box below. Anyone requesting songs,
     looking for lost items, or who has any questions / comments can leave them
     here. Please leave your e-mail address if you are expecting a response from
      us!
  </p>

<div class="container">
  <%= react_component('Contact', contact_details:@contact_details) %>
</div>

<!--
  SEND INFORMATION TO ACTION = '!'
-->
<!-- <form action="action_page.php">
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
  <textarea name="message" rows="10" cols="30">
     Type in your question or comment here. Use as much room as you'd like!
  </textarea>
  <input type="submit" value="Submit">
</form>


telephone number
  <input type="tel">

email
  <input type="email"> -->
