<div class="container row">
    <a>
       <%= image_tag("front_img.png", :class => "col s12 m8 image-border", :alt => "VIPclub", :style => "height:350px; vertical-align:middle;") %>
    </a>
  <div class="col s12 m4">
    <h5 class="white-text site-font">
      Dance Parties are Back!
    </h5>
    <div class="debrief">
      <p class="grey-text site-font">
        Come enjoy a taste of our dance parties on Saturday nights! With several dance floors, bars, and DJs, we offer an ideal environment for college students to enjoy themselves! Follow the link below to check out a sample of what to expect at our dance parties!
      </p>
      <button class="btn waves-effect" href="Directions">
        Get Directions
      </button>
    </div>
  </div>
</div>

<div class="container">
  <hr />
</div>

<div class="center">
  <a href="GuestList">
    <%= image_tag("vip.jpg", :alt => "VIPclub") %>
  </a>
</div>
