<div class="container">
  <h3 class="centerr brown-textt">Directions</h3>
    <div class="row centerr">
      <h6>
        <strong>
          I-95
        </strong>
      </h6>
      <p class="white-text centerr">
      Take exit 47 (Downtown New Haven Exit) this puts you on a four lane highway. Follow this to the last ramp. At first light take a right onto York Street. Toads is 4.5 blocks down on your lefthand side - - 300 York Street.
      </p>
      <h6>
        <strong>
          I-91
        </strong>
      </h6>
      <p class="white-text centerr">
        Exit 1 (Downtown New Haven Exit) then the same as above.
      </p>
      <h6>
        <strong>
          Waterbury/Naugatuck 
        </strong>
      </h6>
      <p class="white-text centerr">
        Route 8 to route 63. This turns into Whalley Ave. Follow Whalley to downtown area. Take a left onto York Street. Toads is about 1/2 way down the block.
      </p>
      <h6>
        <strong>
          Route 69
        </strong>
      </h6>
      <p class="white-text centerr">
        69 turns into Whalley Avenue and then follow directions above.
      </p>
      <h6>
        <strong>
          Route 84 (Danbury)/ Route 34
        </strong>
      </h6>
      <p class="white-text centerr">
        From I84 take exit 11 which is Route 34 and head towards New Haven. Route 34 merges into George Street. Follow George to the downtown area. Take a left onto York Street.
      </p>
      <h6>
        <strong>
          Merrit Parkway
        </strong>
      </h6>
      <p class="white-text centerr">
        Exit 59. Take a right at the end of the ramp. At next light make a left onto Whalley Avenue. Go towards downtown and when you past the Holiday Inn (on the right) take your next left onto York Street. We are 1/2 way down the block on the left.
      </p>
      <a class="btn waves-effect centerr" href="https://www.google.com/maps/dir/''/300+York+St,+New+Haven,+CT+06511/@41.3115533,-72.931786,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89e7d9b3e1045467:0x7647910f98f2d0dd!2m2!1d-72.9295973!2d41.3115533" target="_blank">Learn More</a>
    </div>
</div>