<%= react_component('GuestList', vip_users:@vip_users) %>
<!-- <div class="container">
  <div class=" row contact">
        <% @vip_users.each do |vip_user| %>
          <div class="col s12 m4">
            <div class="card deep-purple lighten-3 hoverable">
              <div class="card-content white-text">
                <h2 class="center"><%= vip_user.first_name %></h2>
                <h5 class="center"><%= vip_user.last_name %></h5>
                <h5 class="center"><%= vip_user.party %></h5>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div> -->
