<div class="centerr">
  <div class="row">
    <a class="centerr" href="static_pages/DanceParty" src="Where_legends_play.jpg"><%= image_tag "Where_legends_play.jpg", :alt => "ENTER", :style => "height:400px; width:400px" %></a>
  </div>
</div>